
<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="pageId">
			<ion-segment-button *ngFor="let data of jsonData.pages" [routerLinkActive]="'segment-button-checked'"
				(click)="onPageSelect(data)" value="{{data.pageid}}">
				<ion-label>Page - {{data.pageid}}</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-router-outlet style="margin-top: 112px;" data-transition-horizontal></ion-router-outlet>